Problema1:
El objetivo de las bases es que realicemos un modelo de clasificación para poder contestar la siguiente pregunta:

      ¿Damos un crédito bancario o no?

Para empezar con la exploración de la base, tendrán que generar un análisis descriptivo de la información que les compartiré:
 1.- Los campos _id_ que son los identificadores de la información.
 2.- base_ini_interna
 3.- base_ini_parte1
 4.- base_ini_externa
 5.- bases de comportamiento
 6.- base_inversión, es una variable simulada de una gamma, es
 7.- Cuando una variable es categórica, está implícito en el nombre de la base. No tenemos un diccionario, simplemente que son categóricas.
 8.- El resto entonces son continuas. Es decir, los nombre estám enmascarados, ni siquiera yo sé qué significan.
 

¿Cómo hago los cruces? Exploren la información.
¿Qué análisis puedo realizar? Exploren ustedes, apóyense de los comportamientos de los ids.
Pero... ¿Las preguntas son abiertas? Así es, quiero que exploren. Hay bases que vienen en csv y otras en txt. Vean como tratarlas.

El resto de las tarea, son las preguntas que les dejé el dìa miércoles. Les coparto los programas que utilizamos.
Pero resumo un poco:


Problema 2:
De la base data_schools sacar obtener el error estándar con Bootstrap de las variables de la base. 
Recordemos que tienen que simular N Muestras Boostrap con tamño n. Luego, el otro ejercicio es que lo hagan con n-1.

Problema 3: Calcular el eror estándar de las betas del modelo lineal, les expliqué la idea de este problema.

Importamos las herramientas necesarias para la lectura y manipulacion de datos

In [1]:
#Importar pandas. El método "import" permite a las funciones y métodos de pandas ser llamados mediante la variable pd
import pandas as pd
import numpy as np
import sqldf

Vamos a leer los datos separados por txt y csv

In [6]:
#Utilizar pandas para importResourcesar datos
ruta="C:/Users/cresp/Documents/GitHub/Seminario_9273/Tarea 1/"
bd1 = "base_ini_interna.csv"
bd2 = "base_ini_parte1.csv"
bd5 = "base_comportamiento_3.csv"

base_ini_interna = pd.read_csv(ruta+bd1)

base_ini_parte1 = pd.read_csv(ruta+bd2)

base_comportamiento_3 = pd.read_csv(ruta+bd5)

In [12]:
#Utilizar pandas para importResourcesar datos
ruta="C:/Users/cresp/Documents/GitHub/Seminario_9273/Tarea 1/"
bd3 = "base_ini_externa.txt"
bd4 = "base_comportamiento_2.txt"
bd6 = "base_inversion.txt"
bd7 = "bd_inicio_parte1.txt"

#Tenemos que tener una diferenciacion para poder leer las columnas en un txt
base_ini_externa = pd.read_csv(bd3, sep = " ", header = None)
base_ini_externa.columns = ["_id_", "comp_externo1", "comp_externo2", "comp_externo3", "comp_externo4"]

base_comportamiento_2 = pd.read_csv(bd4, sep = " ", header = None)
base_comportamiento_2.columns = ["num_caso", "mes_informacion", "Tiempo_aparicion"]

base_inversion = pd.read_csv(bd6, sep = " ", header = None)
base_inversion.columns = ["_id2_", "inversion"]

bd_inicio_parte1 = pd.read_csv(bd7,  sep = " ", header = None)
bd_inicio_parte1.columns = ["_id_", "comp_interno4"]

In [13]:
base_ini_interna.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   _id_           50000 non-null  int64
 1   fecha_inicio   50000 non-null  object
 2   comp_interno1  50000 non-null  float64
 3   comp_interno2  50000 non-null  object
 4   comp_interno3  50000 non-null  float64
 5   comp_interno4  50000 non-null  float64
 6   categoria1     50000 non-null  float64
 7   categoria2     50000 non-null  float64
 8   categoria3     50000 non-null  float64
dtypes: float64(6), int64(1), object(2)
memory usage: 3.4+ MB

In [14]:
base_ini_parte1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   _id_         50000 non-null  int64
 1   _id2_        50000 non-null  int64
 2   comp_mixto1  50000 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 1.1 MB

In [15]:
base_ini_externa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50001 entries, 0 to 50000
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   _id_           50001 non-null  object
 1   comp_externo1  47832 non-null  object
 2   comp_externo2  44411 non-null  object
 3   comp_externo3  49995 non-null  object
 4   comp_externo4  50001 non-null  object
dtypes: object(5)
memory usage: 1.9+ MB

In [16]:
base_comportamiento_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1455537 entries, 0 to 1455536
Data columns (total 3 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   num_caso          1455537 non-null  object
 1   mes_informacion   1455537 non-null  object
 2   Tiempo_aparicion  1455537 non-null  object
dtypes: object(3)
memory usage: 33.3+ MB

In [17]:
base_comportamiento_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1455536 entries, 0 to 1455535
Data columns (total 3 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   num_caso          1455536 non-null  int64
 1   mes_informacion   1455536 non-null  object
 2   comportamiento_j  1455536 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 33.3+ MB

In [18]:
base_inversion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17537 entries, 0 to 17536
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   _id2_      17537 non-null  object
 1   inversion  17537 non-null  object
dtypes: object(2)
memory usage: 274.1+ KB

In [19]:
bd_inicio_parte1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50001 entries, 0 to 50000
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   _id_           50001 non-null  object
 1   comp_interno4  50001 non-null  object
dtypes: object(2)
memory usage: 781.4+ KB

In [ ]:
#Tenemos que verificar si las bases comparten columnas que nos puedan ayudar a juntarlas